
<nav class="navbar is-light is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-align-items-flex-end">
    <a class="" href="https://www.ccllcdev.com/">
      <img src="../assets/CC Logo 52120-01.png" >
    </a>
    <h2>{{title}}</h2>
  </div>
</nav>

<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">{{ actionCall }}</h1>
      <h2 class="has-text-centered" (click)="updateLorem()">{{ randomText }}</h2>
      <div class="field">
        <input class="input" #typeInput id="typeInput" placeholder="Type Here!"
        (input)="onTypeCheck(typeInput.value)"
        />
      </div>
      <div class="box has-text-centered" *ngIf="inputText === randomText">
        <h2 class="subtitle">Congratulations</h2>
      </div>
    </div>
  </div>
</div>
